<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>File Upload </title>
 <style>
  table th,td{
	border: 2px solid;
}
 </style
</head>
<body>
  <h2>Uploaded Files </h2>
  <table>
    <thead>
      <th>File Name </th>
      <th>File Type</th>
      <th>Downloads</th>
    </thead>
    <tbody>
      <tr th:each="filemodel: ${allFiles}">
      <td th:text="${filemodel.name}"></td>
      <td th:text="${filemodel.filetype}"></td>
           <td><a th:href="@{${filemodel.id}}">Download</a></td>

      </tr>
    </tbody>
  </table>


</body>


</html>